body {
    max-width: 490px;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Nunito';
    font-weight: 600; 
    font-size: 14px;
    background: #fff8cd;
}

uwaga {
    border-radius: 15px;
    background: url(https://www.uwagiszkolne.pl/static/uwagi/pusteuwagi.png);
    background-size: cover;
    aspect-ratio: 1;
    place-content: center;
    text-align: center;
    display: grid;
    font-weight: 900;
    font-size: 1.25rem;
    word-break: break-word;
    margin: 0 38px;
}
