@media only screen and (max-width: 360px) {html {font-size: 10px;}}
@media only screen and (max-width: 900px) {html {font-size: 14px;}}
@media only screen and (max-width: 1050px) {html {font-size: 14px;}}

body {
    max-width: 42rem;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Nunito';
    font-weight: 600; 
    background: #fff8cd;
}

tło {
    border-radius: 15px;
    background: url(https://www.uwagiszkolne.pl/static/uwagi/pusteuwagi.png);
    background-size: cover;
    aspect-ratio: 1;
    place-content: center;
    text-align: center;
    display: grid;
}

uwaga {
    font-weight: 900;
    font-size: 1.25rem;
    word-break: break-word;
    margin: 0 38px;
}
